* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6a1b1a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px #b13a3a;
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
}
 p {
  border: none;
  margin: 15px;
  margin-bottom: 30px;
  color: #6a1b1a;
 }
.container .heading {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: bolder;
  color: #6a1b1a;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input-field {
  position: relative;
  width: 100%;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  transition: all 0.3s ease;
  padding: 0 5px;
}

.input-field input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #b13a3a;
  letter-spacing: 1px;
  width: 100%;
  background-color: #f4f1f1;
  color: #6a1b1a;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 1px #b13a3a;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: 0;
  transform: translateY(-100%) scale(0.8);
  color: #6a1b1a;
  font-weight: bold;
  letter-spacing: 1px;
}

.form .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form .btn {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  border: solid 1px #6a1b1a;
  background: linear-gradient(135deg, #b13a3a, #d32f2f);
  color: #fff;
  font-weight: bolder;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 3px #00000048, inset 0px 4px 5px #b13a3a,
    inset 0px -4px 5px #6a1b1a;
}

.form .btn:active {
  box-shadow: inset 0px 4px 5px #b13a3a, inset 0px -4px 5px #6a1b1a;
  transform: scale(0.995);
}

.forgot-password {
  font-size: 0.9rem;
  color: #b13a3a;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #d32f2f; 
}